 *{
    margin:0px;
    padding:0px;
}
header, section, footer, aside{
    display: block;
}

body{
  color: rgb(0, 0, 0);
  background-color: azure;
  background-position: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  text-align: center;
}

marquee{
  color: #fd5000;
  font-size: 14px;
}
.header{
  font-size: 18px;
  color: #ffffff;
  background-color:#3e8a4b;
  padding-top: 5px;
}

header h1{
  color: #eb0404;
  font-weight: bold;
  text-shadow: 3px 5px 7px #ffffff;
}

.log-in{
  width: auto;
}
.log-in a, a:hover{
  font-size: 18px;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
a{
     text-transform: uppercase;
     font-size: 25px;
     text-decoration: none;
}
.special a{
    text-transform: initial;
    font-size: 17px;
}
h1{
    font-weight: bold;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:  Geneva, Tahoma;
    
    text-transform: uppercase;
    font-size: 20px;
}

.container h1{
      font-size: 20px;
}
.container-1{
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin: 0px 0px ;
  }
.container-1 input#search{
    width: 220px;
    height: 40px;
    border: 1px #000000 ;
    padding-left: 10px;
    font-size: 10pt;
    float: left;
    background-image: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px black;
  }
  .container-1 .icon{
    position: absolute;
    margin-left: 60px;
    margin-top: 10px;
    z-index: 1;
    color: #3e454d;
  }

.clearfix{
    display: block;
    width: 86%;
    clear: inherit;
}
/*----- Phần menu -----*/

.menu li {
    width: auto;
    height: 48px;
    margin:0px ;
    list-style:none;
    font-family:'Ek Mukta';
    background-color: #19d325;
    font-size: 20px;
}
.menu a {
    transition:all linear 0.15s;
    color:#fdf5f5;
    font-size: 18px;
    text-decoration:none;
}

.menu .arrow {
    font-size:10px;
    line-height:10%;
    z-index: 2;
} 
/*----- css cho phần menu cha -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size: 18px;
    width:fit-content ;
}
.menu > ul > li > a {
    padding: 10px 30px;
    display:inline-block;
    color:rgb(24, 16, 16);
    font-size: 18px;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:rgb(42, 196, 67) ;
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}
/*----css cho menu con----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:130%;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:1;
    transition:opacity linear 0.15s;
    text-decoration: none;
   
}
.sub-menu li {
    display:block;
    font-size:20px; 
    background-color: rgb(150, 231, 194);
    text-decoration: none;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
    color: #0c0e08;
    float: left;
    text-decoration: none;
    font-size: 14px ;
}
.sub-menu li a:hover{
    width: 100%;
    background:#ffffff;
    color: rgb(9, 101, 129);
    text-decoration: none;
}

#slideshow {
  overflow: hidden;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
.slide-wrapper {
  width: 1600px;
  -webkit-animation: slide 14s ease infinite;
}
.slide {
  float: left;
  height: 400px;
  width: 400px;
}
@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -400px;}
  50% {margin-left: -400px;}
  60% {margin-left: -800px;}
  80% {margin-left: -800px;}
}

 footer{
    text-align: center;
    clear: both;
    color: #110b0b;
    background-color: #84e293;
    height: 30px;
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    font-family: sans-serif;
}
footer a{
  font-size: 12px;
}
body{   
  font-family:Arial, sans-serif;   
  font-size:12px;
  }
  .container{
    width: 50%;
    float: left;
    padding: 0px 0px;
  }
  .glyphicon {    
  margin-right:5px;
  }
  .thumbnail {    
  margin-bottom: 20px;    
  padding: 0px;   
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px;    
  border-radius: 0px;
  }
  .item.list-group-item { 
  float: none;    
  width: 100%;    
  background-color: #fff; 
  margin-bottom: 10px;
  }
  .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover { 
  background: #428bca;
  }
  .item.list-group-item .list-group-image {   
  margin-right: 10px;
  }
  .item.list-group-item .thumbnail {  
  margin-bottom: 15px;
  }
  .item.list-group-item .caption {    
  padding: 9px 9px 0px 9px;
  }
  .item.list-group-item:nth-of-type(odd) { 
  background: #eeeeee;
  }
  .item.list-group-item:before, .item.list-group-item:after { 
  display: table; content:"";
  }
  .item.list-group-item img { 
  float: left;
  }
  .item.list-group-item:after {   
  clear: both;
  }
  .list-group-item-text { 
  padding: 0 0 20px 0px;
  }

aside{
    margin-right: 10px;
    border: #000000 2px;
    width: 23%;
    float: right;
    padding-right: 50px;
    padding-top: 50px;
    
}
aside section a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
aside section a:hover{
  color: #985d6a;
  background-color: #efefef;
}
section.items{
  float: left;
  width: 50%;
  padding: 0% 2%;
  border-right: 1px solid #eeeeee;
}
h2{
    margin: 5px 0px 5px 0px;
    padding: 0px;
}
h3{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    color: #022ff7;
}
aside h2{
    padding: 30px 0px 10px 0px;
    color: #000000;
}
p{
  text-align: justify;
}
.btn-group span{
  padding: 0px 5px;
}